<h1 class="center-align white-text">Burgers!</h1>

<div class="container">
  <div class="row">
    <div class="col m6 valign left-align">
      <div class="card large">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Burgers that are not devoured<i
              class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title"><i class="material-icons right">close</i></span>
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col m6 valign left-align">
      <div class="card large">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Burgers that are devoured!<i
              class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title"><i class="material-icons right">close</i></span>
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <h2 class="white-text">Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="br" class="white-text">Burger Name:</label>
      <input type="text" id="br" name="burger_name" class="white-text">
      <p>
        <label>
          <input class="with-gap" name="group1" type="radio" value="1" />
          <span class="white-text">Devoured!</span>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" name="group1" type="radio" value="0" />
          <span class="white-text">Not Devoured!</span>
        </label>
      </p>
    </div>

    <button type="submit">Add Burger</button>


  </form>
</div>